/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Apply a background color to the body */
/* Center the to-do list */
body {
    background: linear-gradient(to top right, #2aee92 , #1b91f27e );
    height: 100vh;
    display: grid;
    place-content: center;
}

.todo {
    width: 400px;
    margin: 50px auto;
    background:rgba(164, 243, 222, 0.98);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the heading */
.todo h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

/* Style the input field and add button */
.inputAndAdd {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
}

/* Style the task list */
.taskItems {
    list-style-type: none;
}

/* Style each task item */
.taskItems li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

/* Style the checkbox */
.checkbox {
    margin-right: 10px;
    
}



/* Style the task name */
.taskName {
    flex-grow: 1;
    word-break: break-all; /* Wrap long task names */
}

/* Style the delete button */
.delBtn {
    cursor: pointer;
    margin-left: 10px;
}

